blurhash==1.1.4
certifi==2025.1.31
charset-normalizer==3.4.1
configobj==5.0.9
decorator==5.2.1
idna==3.10
Mastodon.py==2.0.1
numpy==2.2.3
pillow==11.1.0
pyshp==2.3.1
python-dateutil==2.9.0.post0
python-magic==0.4.27
requests==2.32.3
shapely==2.0.7
six==1.17.0
urllib3==2.3.0
